<div class="conta">
 <img class="image" src="/images/beer.png"/>

    <a class="butt bg-gray-800" href="/beers">Check the Beers!</a>
    <a class="butt bg-gray-800" href="/random-beer">Check a Random Beer</a>
</div>